body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1px;
}

.content_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 225px));
}

.card {
    padding: 1px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;}
.header-name{
    font-size: 2px;
}
.card_body {
    font-size: 1px;
    display: inline-block;
}

.btn {
    margin-top: 5px;
    font-size: 15px;
    background-color: red;
  
}

#form{
border: 1px solid black;
margin-left: 1px;
margin-right: 50px;
padding-bottom: 5px ;
}